@media (max-width: 800px) {
    .footer-links-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 30px 40px;
    }
    
    .footer-bottom-bar {
        flex-direction: column;
        gap: 20px;
    }
}